/* css styles */
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.quarto-title .quarto-categories .quarto-category {
    color: black;
    background-color: yellow;
    opacity: 1;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: .85em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
}
.cover-image {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em;
  max-width: 40%; /* or whatever fits your layout */
}

.cell-output {
    background-color: #f0f0f0;
    color: #333333;
    padding: 10px;
    border-left: 3px solid #007bff;
    margin-top: 10px;
  }
  
.cell-output pre {
    margin: 0;
    font-size: 0.9em;
  }
  
  .cell-output-stdout pre {
    color: #0066cc;
  }
  
  .cell-output-stderr pre {
    color: #cc0000;
  }
  
  