/*-- scss:defaults --*/
$link-color: #ff8f33;
$body-color: white;
$body-bg: black;
$code-block-bg-alpha: -.8;
$input-bg: black;
$popover-bg: black;
$navbar-bg: black;
$navbar-fg: white;
$table-hover-color: black;
$table-hover-bg: black;
$nav-tabs-border-color: white;
$nav-tabs-link-active-color: white;
$nav-tabs-link-hover-border-color: white;
$nav-tabs-link-active-border-color:white;
$table-hover-color: $link-color;
$font-weight-base:            400 !default;

/*-- scss:rules --*/
